* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #5cb4ca;
  display: grid;
  grid-template-columns: repeat(2, 1fr) minmax(300px);
  grid-template-rows: repeat(3, 1fr) minmax(200px);
  grid-template-areas: "nav     nav" "main    main" "footer  footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "MuseoModerno", cursive;
  font-size: 50px;
  text-align: center;
  text-shadow: 5px 5px #753939;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: "MuseoModerno", cursive;
  font-size: 70px;
  text-shadow: 5px 7px #753939;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: "MuseoModerno", cursive;
  font-size: 25px;
  text-shadow: 1px 1px #753939;
}

h4 {
  font-family: "MuseoModerno", cursive;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 2px #753939;
}

p {
  color: rgb(255, 255, 255);
  font-family: "MuseoModerno", cursive;
  font-size: 20px;
  text-shadow: 1px 1px #753939;
}

.principal_pagina {
  font-family: "MuseoModerno", cursive;
  font-size: 90px;
  text-align: center;
  text-shadow: 10px 10px #753939;
}

.principal_subtitulopagina {
  font-family: "MuseoModerno", cursive;
  font-size: 30px;
  text-align: center;
  text-shadow: 5px 5px #753939;
}

.bg-body-tertiary {
  background-color: #5cb4ca !important;
}

.navbar-brand {
  padding: 15px;
  color: rgb(255, 255, 255);
  font-family: "MuseoModerno", cursive;
  text-shadow: 1px 1px #030303;
}

.navbar-brand:hover {
  color: rgb(255, 255, 255);
  background-color: #248299;
  border-radius: 30%;
}

.nav {
  justify-content: flex-end;
}

.nav-link {
  padding: 15px;
  color: rgb(255, 255, 255);
  font-family: "MuseoModerno", cursive;
  text-shadow: 1px 1px #753939;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: #248299;
  border-radius: 30%;
}

.navbar-toggler-icon {
  color: rgb(255, 255, 255);
}

.encabezado_principal {
  margin-top: 50px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_imagen_principal {
  padding-bottom: 60px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulos_principal {
  padding: 20px;
}
.titulos_principal a {
  text-decoration: none;
}

.contenido_principal {
  height: 65rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.seccion_izquierda {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  width: 49%;
  height: 65%;
}

.seccion_derecha {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 49%;
  height: 65%;
}

.replica_funkos {
  background: #f1aaf1;
  box-shadow: 25px 40px 0px 0px #7a4c7a;
  border-style: solid;
  border-color: #bd5fbd;
  border-radius: 30px;
  width: 90%;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.replica_funkos:hover {
  background-color: #bd5fbd;
  border-color: #f1aaf1;
  box-shadow: 25px 40px 10px 0px #7a4c7a;
}

.personaliza_tu_funko {
  background: #f1aaf1;
  box-shadow: 25px 40px 0px 0px #7a4c7a;
  border-style: solid;
  border-color: #bd5fbd;
  border-radius: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.personaliza_tu_funko:hover {
  background-color: #bd5fbd;
  border-color: #f1aaf1;
  box-shadow: 25px 40px 10px 0px #7a4c7a;
}

.funkoniza_mascotas {
  background: #f1aaf1;
  box-shadow: 25px 40px 0px 0px #7a4c7a;
  border-style: solid;
  border-color: #bd5fbd;
  border-radius: 30px;
  width: 90%;
  height: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.funkoniza_mascotas:hover {
  background-color: #bd5fbd;
  border-color: #f1aaf1;
  box-shadow: 25px 40px 10px 0px #7a4c7a;
}

.comentarios_clientes {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.clientes_contenedor {
  width: 90%;
  height: 90%;
}

.titulo_principal_clientes {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contenedor_opiniones {
  padding: 20px;
  height: 70%;
  display: flex;
  justify-content: space-around;
}

/*Media queris*/
@media screen and (max-width: 991px) {
  .contenido_principal {
    flex-direction: column;
  }
  .seccion_derecha {
    justify-content: center;
    height: 40%;
    width: 70%;
  }
  .seccion_izquierda {
    width: 70%;
    margin: 30px;
  }
  .replica_funkos {
    margin: 30px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
  .principal_pagina {
    font-size: 50px;
  }
  .titulo_principal_clientes {
    height: 50%;
  }
  .clientes_contenedor {
    height: 250px;
  }
  .contenedor_opiniones {
    height: 100%;
    flex-direction: column;
  }
  .titulo_final {
    padding-top: 20px;
    margin-top: 200px;
  }
}
@media screen and (max-width: 820px) {
  .seccion_derecha {
    width: 70%;
  }
  .seccion_izquierda {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .seccion_derecha {
    width: 70%;
  }
  .seccion_izquierda {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .seccion_derecha h1 {
    font-size: 25px;
  }
  .seccion_derecha h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .seccion_izquierda h1 {
    font-size: 25px;
  }
  .seccion_izquierda h3 {
    font-size: 20px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.pie_de_pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.contenedor_pie_pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo_final {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.formulario {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario .contenedor_formulario {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.formulario .contenedor_formulario form {
  width: 60%;
  height: 600px;
  color: rgb(206, 203, 207);
  font-family: "Comfortaa";
  font-family: "MuseoModerno", cursive;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario .contenedor_formulario form .lista_formulario {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulario .contenedor_formulario form .lista_formulario li {
  padding: 15px;
  padding-bottom: 20px;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: start;
}
.formulario .contenedor_formulario form .lista_formulario li input {
  padding-left: 8px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
}
.formulario .contenedor_formulario form ul {
  list-style: none;
}

.area-de-texto {
  padding-left: 8px;
  padding-top: 8px;
  width: 450px;
  height: 300px;
  border-radius: 5%;
}

.btn-enviar {
  background-color: #c093c0;
}

@media screen and (max-width: 940px) {
  form {
    display: flex;
    flex-direction: column;
  }
  .lista_formulario {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lista_formulario li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lista_formulario li input {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  .area-de-texto {
    width: 100%;
    height: 250px;
  }
}
.quienes_somos {
  width: 80%;
  padding: 15px;
  margin-left: 8.5%;
}
.quienes_somos .contenedor_quienes_somos {
  background-color: #f1aaf1;
  padding: 40px;
  padding-top: 20px;
  border-radius: 30px;
  border-style: solid;
  border-color: #bd5fbd;
  box-shadow: 25px 40px 0px 0px #7a4c7a;
}
.quienes_somos .contenedor_quienes_somos p {
  padding-top: 30px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 450px) {
  .parrafo_de_nosotros {
    font-size: 15px;
  }
}
.galeria_imagenes3 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  padding-bottom: 100px;
}
.galeria_imagenes3 .contenedor_imagen3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.galeria_imagenes3 .contenedor_imagen3 h3 {
  padding-top: 5px;
}
.galeria_imagenes3 .contenedor_imagen3 img {
  width: 100%;
  height: 450px;
  border-style: solid;
  border-color: #080808;
  border-radius: 25px;
}

/*
.galeria_comparacion{
    display: flex;
    width: 1500px;
    height: 700px;

    img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease ;

        &:hover{
            cursor: crosshair;
            width: 300px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}

.titulo_galeria_comparacion{
    text-align: center;
    padding-bottom: 20px;
}
*/
.galeria_imagenes1 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.galeria_imagenes1 .contenedor_imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.galeria_imagenes1 .contenedor_imagen h3 {
  padding-top: 5px;
}
.galeria_imagenes1 .contenedor_imagen img {
  width: 450px;
  height: 450px;
  border-style: solid;
  border-color: #080808;
  border-radius: 25px;
}

.galeria_imagenes2 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.galeria_imagenes2 .contenedor_imagen2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.galeria_imagenes2 .contenedor_imagen2 h3 {
  padding-top: 5px;
}
.galeria_imagenes2 .contenedor_imagen2 img {
  width: 450px;
  height: 450px;
  border-style: solid;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
