.quienes_somos{
    width: 80%;
    padding:15px;
    margin-left: 8.5%;

    .contenedor_quienes_somos{
        background-color: #f1aaf1;
        padding: 40px;
        padding-top: 20px;
        border-radius: 30px;
        border-style: solid;
        border-color:#bd5fbd;
        box-shadow: 25px 40px 0px 0px  #7a4c7a;

        p{
            padding-top: 30px;
            color: rgb(255 255 255);
        }

    }
}


