.bg-body-tertiary {
    background-color:$color_fondoprincipal !important;
  }



.navbar-brand{
    padding: 15px;
    color:$color_de_fuentes;
    font-family: $estilos_de_fuentes;
    text-shadow: 1px 1px #030303;

}

.navbar-brand:hover{
    color: $color_de_fuentes;
    background-color: $color_hover_navbar;
    border-radius: 30%;
}

.nav{
    justify-content: flex-end;
}

.nav-link{
    padding: 15px;
    color:$color_de_fuentes;
    font-family: $estilos_de_fuentes;
    text-shadow: 1px 1px #753939;
}

.nav-link:hover{
    color: $color_de_fuentes;
    background-color: $color_hover_navbar;
    border-radius: 30%;
}

 .navbar-toggler-icon{
    color: rgb(255, 255, 255);
}
