.bg-body-tertiary {
    background-color:#5cb4ca !important;
  }



.navbar-brand{
    padding: 15px;
    color:rgb(255, 255, 255);
    font-family: 'Comfortaa';
    font-family: 'MuseoModerno', cursive;
    text-shadow: 1px 1px #030303;

}

.navbar-brand:hover{
    color: rgb(255, 255, 255);
    background-color: #248299;
    border-radius: 30%;
}

.nav{
    justify-content: flex-end;
}

.nav-link{
    padding: 15px;
    color:rgb(255, 255, 255);
    font-family: 'Comfortaa';
    font-family: 'MuseoModerno', cursive;
    text-shadow: 1px 1px #753939;
}

.nav-link:hover{
    color: rgb(255, 255, 255);
    background-color: #248299;
    border-radius: 30%;
}

 .navbar-toggler-icon{
    color: rgb(255, 255, 255);
}
