h1{
    color:$color_de_fuentes;
    
    font-family: $estilos_de_fuentes;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px $color_fuentes_shadow;
}

h2 {
    color: $color_de_fuentes;
    font-family:$estilos_de_fuentes;
    font-size: 70px;
    text-shadow: 5px 7px $color_fuentes_shadow;
}

h3{
    color: $color_de_fuentes;
    font-family: $estilos_de_fuentes;
    font-size: 25px;
    text-shadow: 1px 1px $color_fuentes_shadow;
}

h4{
    
    font-family: $estilos_de_fuentes;
    color:$color_de_fuentes;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px $color_fuentes_shadow;
}

p{
    color: $color_de_fuentes;
    font-family: $estilos_de_fuentes;
    font-size: 20px;
    text-shadow: 1px 1px $color_fuentes_shadow;
}

.principal_pagina{
    font-family: $estilos_de_fuentes;
    font-size: 90px;  
    text-align: center;
    text-shadow: 10px 10px $color_fuentes_shadow;
}

.principal_subtitulopagina{
    
    font-family: $estilos_de_fuentes;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 05px $color_fuentes_shadow;
}